server:
  servlet:
    context-path: /api/v1/${PROFILE_ACTIVES:dev}/center-service
  port: ${PORT:9090}
  address: ${HOST:0.0.0.0}
  error:
    include-stacktrace: on_param
    whitelabel:
      enabled: false
    include-message: always
    include-binding-errors: always
  forward-headers-strategy: native

spring:
  #  autoconfigure:
  #    exclude: com.scalar.maven.webjar.ScalarAutoConfiguration
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  web:
    resources:
      add-mappings: false
  datasource:

    hikari: &hikariSettings
      minimum-idle: 5
      maximum-pool-size: 20
      idle-timeout: 60000
      connection-timeout: 30000
      max-lifetime: 120000
      keepalive-time: 30000
      leak-detection-threshold: 60000
      validation-timeout: 5000
      connection-test-query: SELECT 1
      auto-commit: true
      read-only: false
      initialization-fail-timeout: 1
      isolate-internal-queries: false
      allow-pool-suspension: false
      register-mbeans: false

    driver-class-name: org.mariadb.jdbc.Driver
    #CoreDataSource
    coredatasource:
      jdbc-url: jdbc:mariadb://${CORE_DB_HOST:10.151.146.165}:${CORE_DB_PORT:3306}/${CORE_DB_NAME:core001}${ENCODE:?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC}
      username: ${CORE_DB_USER:core}
      password: ${CORE_DB_PASSWORD:Dba21@Apb2024}
      driver-class-name: org.mariadb.jdbc.Driver
      <<: *hikariSettings


    odsdatasource:
      jdbc-url: jdbc:mariadb://${DB_ODS_HOST:10.151.146.165}:${ODS_DB_PORT:3306}/${ODS_DB_NAME:ods}${ENCODE:?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC}
      username: ${ODS_DB_USER:report}
      password: ${ODS_DB_PASSWORD:Dba26@Apb2024}
      driver-class-name: org.mariadb.jdbc.Driver
      <<: *hikariSettings

    dcptradedatasourcedefault:
      jdbc-url: jdbc:mariadb://${DCPTRADE_DB_HOST:10.151.146.165}:${DCPTRADE_DB_PORT:3306}/${DCPTRADE_DB_NAME:dcp_trade}${ENCODE:?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC}
      username: ${DCPTRADE_DB_USER:dcp_trade}
      password: ${DCPTRADE_DB_PASSWORD:Dba23@Apb2024}
      driver-class-name: org.mariadb.jdbc.Driver
      <<: *hikariSettings


    #store database configs
    storedatasourcedefault:
      jdbc-url: jdbc:mariadb://${STORE_DB_HOST:10.1.11.179}:${STORE_DB_PORT:3306}/${STORE_DB_NAME:all_in_one_uat}?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
      username: ${STORE_DB_USERNAME:admin}
      password: ${STORE_DB_PASSWORD:cbs@2025}
      driver-class-name: org.mariadb.jdbc.Driver
      <<: *hikariSettings

cors:
  allowed-origins: "*"
  allowed-methods: GET,POST,PUT,DELETE,PATCH,OPTIONS
  allowed-headers: "*"
  exposed-headers: Authorization,Content-Type,X-Total-Count
  allowed-credentials: true
  max-age: 3600

springdoc:
  api-docs:
    enabled: true
    path: /api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    url: /api-docs
    csrf:
      enabled: false
  packages-to-scan: com.cbs.center-service.controllers
  show-actuator: false

scalar:
  enabled: true
  url: /api/v1/${PROFILE_ACTIVES:dev}/center-service/api-docs
#  url: /api-docs
  path: /scalar
  actuator-enabled: true
  show-sidebar: true
  hide-models: false
  hide-test-request-button: false
  hide-search: false
  custom-css: null
  dark-mode: true
  document-download-type: both
  hide-dark-mode-toggle: false
  theme: bluePlanet
  layout: modern
management:
  endpoints:
    web:
      #      base-path: /actuator
      exposure:
        include: health,info,scalar,metric,hikaricp
  endpoint:
    health:
      show-details: always
  metrics:
    web:
      client:
        max-uri-tags: 100

    enable:
      hikaricp: true
    data:
      repository:
        metric-name: spring.data.repository.invocations
logging:
  level:
    org:
      springdoc: debug
      springframework:
        web: debug
